// 背景颜色
$color-bg-fff: #FFF;   // 背景颜色: 白色
$color-bg-3190e8: #3190e8;
$color-bg-f1f1f1: #f1f1f1;
$color-bg-ccc: #ccc;
$color-bg-56d176: #56d176;


// 字体颜色
$color-font-3190e8: #3190e8;
$color-font-666: #666;
$color-font-9f9f9f: #9f9f9f;
$color-font-999 : #999;
$color-font-333: #333;
$color-font-fff: #fff;
$color-font-ffd930: #ffd930;
$color-font-ff6000: #ff6000;